@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme inline {
	--font-montserrat: "Montserrat", sans-serif;
	--font-lora: "Lora", serif;
	--animate-aurora: aurora 60s linear infinite;
	@keyframes aurora {
		from {
			background-position:
				50% 50%,
				50% 50%;
		}
		to {
			background-position:
				350% 50%,
				350% 50%;
		}
	}
}
